---
title: Toby Hede
---

  <div id="content">
    <div class="title">
      <h2>Toby Hede as a Service</h2>
      <span class="byline">Zombie Astronautic Architect, Bovine Cosmetologist, Engineering Polyglotologist &amp; Occasional Developer</span>
    </div>
    <p>Things I like in no particular order</p>
    <ul>
      <li>spaceships</li>
      <li>code</li>
      <li>databases</li>
      <li>drumming</li>
      <li>music</li>
      <li>pondering the nature of existence</li>
    </ul>
  </div>
  <div id="sidebar">
    <a href="#" class="image image-full"><img id="splash" src="attack.png" alt="" /></a>
  </div>
