---
title: Toby Hede
---
  <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Toby</span> Hede
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                      <a class="page-scroll" href="#tales">Tales of Interest</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 intro-container">
                        <h1 class="brand-heading">Toby Hede as a Service</h1>
                        <p class="intro-text">Zombie Astronautic Architect, Bovine Cosmetologist, Engineering Polyglotologist &amp; Occasional Developer</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>About</h2>
              <p>Things I like in no particular order:</p>
              <ul>
                <li>spaceships</li>
                <li>code</li>
                <li>databases</li>
                <li>drumming</li>
                <li>music</li>
                <li>pondering the nature of existence</li>
              </ul>
            </div>
        </div>
    </section>

    <section id="tales" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>Tales of Interest</h2>
              <ul>
                <li><a href="https://medium.com/@tobyhede/devarc-54e3b1d809c0">DevArcs</li>
                <li><a href="https://www.youtube.com/watch?v=lzwAJxIESNU">Rails Conf 2014 - An ode to 17 databases in 33 minutes</li>
                <li><a href="http://tobyhede.github.io/go-underscore/">Go-Underscore</li>
              </ul>
            </div>
        </div>
    </section>

    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Get in touch</h2>
                <p>I am on the internet</p>
                <p><a href="mailto:tobythede@gmail.com">tobyhede@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/tobyhede" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/tobyhede" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/profile/view?id=12016403" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>